#beerSection {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 300px;
}

.tarjetClass img {
  width: 75px;
  height: 225px;
}

.tarjetClass {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.descriptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  height: 5rem;
}
